.carousel-cell {
    width: 100%; /* full width */
    min-height: 250px;
    height: 50vh; /* height of carousel */
    margin-right: 10px;
    z-index: 1;
  }

  .progress-bar {
    height: 20px;
    width: 0;
    background: #333;
  }

.carousel-container {
    color: white;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    // background-color: 
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  h3 {
    margin: 0;
  }
}

.button-restart {
    position: absolute;
    z-index: 2;
}

#map {
  width: 100%;
  min-height: 250px;
  height: 50vh;
  background-color: grey;
}
